@model SpendsDemo.Models.Spends

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Spends</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quarter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advertizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advertizer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TVRadio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TVRadio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeBand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeBand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Print)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Print)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSpend)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSpend)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateAdded)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
